{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h3>Checkout</h3>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary">Place Order</button>
                </form>
            </div>
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h4>Order Summary</h4>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    {% for item in cart %}
                    <li class="list-group-item d-flex justify-content-between">
                        <span>{{ item.product.name }} x {{ item.quantity }}</span>
                        <span>${{ item.total_price }}</span>
                    </li>
                    {% endfor %}
                    <li class="list-group-item d-flex justify-content-between fw-bold">
                        <span>Total</span>
                        <span>${{ cart.get_total_price }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}